@import "pico.css";

/* @import url("pico.css"); */

/* Import Fonts */
@import "font-face.css";

:root {
    --font-family: "PT Sans";
    --primary: #f4511e;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}

.logo {
  text-align: center;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem 0;
}

.date {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.date-icon {
    margin-right: 0.5rem;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: var(--icon-date);
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.badge-secondary {
    color: #fff;
    background-color: var(--primary);
}

/* Toggle Switch */

/* The switch - the box around the slider */
.switch {
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #18232c;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .input:checked + .slider {
    background-color: #bdbdbd;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #bdbdbd;
  }
  
  .input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
/* End of Toggle Switch */


.hero-title {
  text-align: center;
}

.list-group-item {
  margin-right: 1rem;
}

/* Pagination */
.page-link {
  /* font-size: 18px; */
  float: left;
  margin:0px 6px;
  padding: 6px 14px;
  text-decoration: none;
  border:1px solid var(--primary);
  border-radius: var(--border-radius);
}

.active{
  background-color: var(--primary);
  color: var(--light)
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}
/* End of Pagination */