---
layout: 'base.njk'
---
<section class="post">
 <!-- Block 2 column  -->
    {# <div class="grid"> #}
            <!-- Column Blog Posts -->
            <div>
                <article>
                    <header class="post-header">
                        <h1 class="post-heading text-center">{{ title}}</h1>
                        {# <p>{{ description }}</p> #}
                        <figure class="post-figure">
                            <img class="post-image" src="{{ image }}" alt="{{ alt }}">
                        </figure>
                    </header>
                    {{ content | safe }}
                    <footer>
                        <div class="date">
                            <span class="date-icon"></span>
                            <span>{{ date | formatDate }}</span>
                        </div>
                    </footer>
                </article>
            </div>
            <!-- End of Column Blog Posts -->

            <!-- Column Side Bar -->
            <div class="side-bar">
                {% include 'sidebar.njk' %}
            </div>
            <!-- End Column Side Bar -->
    {# </div> #}
    <!-- Block 2 column  -->
</section>