<!DOCTYPE html>
<html id="theme" data-theme="dark" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css">
    
    {% block head %}{% endblock %}
    <title>{{ title }}</title>
    
</head>
<body>
    <main class="container">
        {% include 'header.njk' %}
        {{ content | safe }}
        {% include 'footer.njk' %}
    </main>
<script type="text/javascript" src="../../utils/custom.js"></script>
</body>
</html>