{% include "widgets/head.njk" %}
    <main class="container">
        {% include 'header.njk' %}
        {{ content | safe }}
        {% include 'footer.njk' %}
    </main>
{% include "widgets/script.njk" %}
