<header class="header mb-3">
    <div class="logo bg-white text-center pt-2">
            <a class="navbar-brand pt-0" href="/">
                <img src="/assets/images/logo/mspase-logo-dark.png" width="150" alt="Logo Mspase.com">
            </a>
    </div>
    <!-- Section Menu -->
    <nav id="mainNavbar" class="navbar navbar-expand-md navbar-light bg-white border-bottom">
        <div class="container text-center">
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav text-uppercase">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Начало
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <!-- <li class="nav-item items">
                        <a class="nav-link" href="#">Портфолио</a>
                    </li> -->
                    <!-- Падащо меню -->
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdownMenuLink"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">Портфолио</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item small" href="bw-photography/bw-photography.html">Ч/Б фотография</a>
                            <a class="dropdown-item small" href="diner-out/diner-out.html">Вечеря навън</a>
                            <a class="dropdown-item small" href="fashion/fashion.html">Модна фотография</a>
                            <a class="dropdown-item small" href="summer/summer.html">Лято</a>
                            <a class="dropdown-item small" href="mountains/mountains.html">Планини</a>
                            <a class="dropdown-item small" href="nature/nature.html">Природа</a>
                            <a class="dropdown-item small" href="ocean/ocean.html">Океан</a>
                            <a class="dropdown-item small" href="urban/urban.html">Улична фотография</a>
                        </div>
                    </li>
                    <!-- Край на Падащо меню -->
                    {# <li class="nav-item">
                        <a class="nav-link" href="/blog">Блог</a>
                    </li> #}
                    <li class="nav-item">
                        <a class="nav-link" href="/about">За мен</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pico">Pico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Контакт</a>
                    </li>
                </ul>
            </div>
            <div class="icons text-right d-none d-md-block">
                <a href="https://twitter.com">
                    <i class="fab fa-twitter mx-1"></i>
                </a>
                <a href="https://www.facebook.com">
                    <i class="fab fa-facebook-f mx-1"></i>
                </a>
                <a href="https://plus.google.com">
                    <i class="fab fa-google-plus-g mx-1"></i>
                </a>
                <a href="https://www.pinterest.com">
                    <i class="fab fa-pinterest-p mx-1"></i>
                </a>
                <a href="https://vimeo.com">
                    <i class="fab fa-vimeo-v mx-1"></i>
                </a>
                <a href="https://www.youtube.com">
                    <i class="fab fa-youtube-square mx-1"></i>
                </a>
                <a href="https://www.flickr.com">
                    <i class="fab fa-flickr mx-1"></i>
                </a>
            </div>
        </div>
    </nav>
    <!-- End of Section Menu -->
</header>