<header>
    <div class="logo">
        <a class="navbar-brand" href="/">
            {# <img id="logo" src="/assets/images/logo/mspase-logo.png" width="150" alt="Logo Mspase.com"> #}
            <div id="logo"></div>
        </a>
    </div>
    <!-- Rounded switch -->
    <label class="switch">
        <input onclick="App.themeSwitch()" class="input" type="checkbox">
        <span class="slider round"></span>
    </label>
    <nav class="nav-bar">
        <div><a href="/">Начало</a></div>
        <div><a href="/categories">Категории</a></div>
        <div><a href="/contact">Контакт</a></div>
    </nav>
</header>