{%- set nextPost = collections.publishedPosts | getNextCollectionItem(page) -%}
{%- set previousPost = collections.publishedPosts | getPreviousCollectionItem(page) -%}
{%- if nextPost or previousPost -%}
	<nav>
		<ul class="pagination-list">

			<li class="list-item">
				{%- if previousPost %}
					<a href="{{ previousPost.url | url }}">
						<span aria-hidden="true">&laquo;</span>
						{# {{ previousPost.data.title }} #}
						предишна
					</a>
				{%- endif -%}
			</li>

			{%- if (previousPost) and (nextPost) %}
				<li class="list-item"><span>|</span></li>
			{%- endif -%}

			<li class="list-item">
				{%- if nextPost -%}
					<a href="{{ nextPost.url | url }}">
						следваща
						<span aria-hidden="true">&raquo;</span>
						{# {{ nextPost.data.title }} #}
					</a>
				{%- endif -%}
			</li>

		</ul>
	</nav>
{%- endif -%}