<!DOCTYPE html>
<html id="theme" data-theme="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/custom.css">
    <script type="text/javascript" src="/utils/toggle-switch.js"></script>
</head>
<body class="container">
    {{ content | safe }}
</body>
</html>