---
layout: 'base.njk'
---
<!-- Section Main-Container-->
<section id="main-container" class="container-fluid">
    <div id="single-image" class="container">
        <div class="row">
            <!-- Column Image -->
            <article class="col-lg-8">
                <h1 class="h3 text-center">{{ title}}</h1>
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="/blog/category/{{ category | slugify}}">{{ category}}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="empty_space_40"></div>
                <img class="img-fluid mb-5 shadow-sm " src="{{ image }}" alt="{{ alt }}">

                {{ content | safe }}

                <div class="my-3">
                    <img class="mr-3" src="/assets/images/icon-12.png" alt="icon">
                    <span>{{ date | postDate }}</span>
                </div>
                
            </article>
            <!-- Column Side Bar -->
            <div class="col-lg-4 d-none d-lg-block">
                <div class="empty_space_80"></div>
               {% include 'sidebar-categories.njk' %}
            </div>
            <!-- End Column Side Bar -->
        </div>
    </div>
</section>
<!-- End of Section -->