<ul class="list-group list-unstyled">
    <p class="list-group-item text-uppercase">Категории</p>
    {%- for category in collections.categoryList -%}
        <li>
            <a href="/category/{{ category | slugify }}" class="list-group-item list-group-item-action">{{ category }}</a>
        </li>
    {%- endfor -%}
</ul>