<article>
    <h3>Снимка за деня / Photo of the day</h3>
    {# <div>
        <img src="https://source.unsplash.com/random/450×800/?beauty-woman" alt="Usplash Photo of day">
        <!-- <Ad /> -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-8365005414967197"
            data-ad-slot="9121674298"
            data-ad-format="auto"
            data-full-width-responsive="true">
        </ins>
    </div>                       #}
    <figure class="post-figure">
        <img class="post-image" src="https://source.unsplash.com/random/450×800/?beauty-woman" alt="Usplash Photo of day">
    </figure>
</article>