<article>
    <h3 class="category-title">Категории</h3>
    <div class="category-group">
        {%- for category in collections.categoryList -%}
            <span>
                <a href="/category/{{ category | slugify }}" class="list-group-item">#{{ category }}</a>
            </span>
        {%- endfor -%}
    </div>
</article>