<div class="wrapper">
	<header>
	  <i class="fa fa-cookie-bite"></i>
	  <h2>
	  	Съгласие за бисквитки / Cookies Consent
	  </h2>
	</header>

	<div class="data">
	  <p>Този уебсайт използва бисквитки, за да ви предостави по-персонализирано и подходящо преживяване при разглежднето му.
	  <br>
	  This website uses cookies to provide you with a more personalised and relevant browsing experience.
	  	<a href="https://policies.google.com/technologies/cookies?hl=bg" target="_blank"> НАУЧЕТЕ ПОВЕЧЕ / FIND OUT MORE...</a>
	  </p>
	</div>

	<div class="buttons">
	  <button class="button" id="acceptBtn">OK</button>
	  <button class="button" id="declineBtn">Отказ</button>
	</div>
</div>