<!DOCTYPE html>
<html id="theme" data-theme="dark" lang="{{ lang or metadata.language }}">
<head> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% include "widgets/seo.njk" %}
	{% block meta %}{% endblock %}
	{% include "widgets/css.njk" %}
</head>
<body>
{% include "widgets/cookies.njk" %}