.wrapper {
  position: fixed;
  bottom: 10px;
  left: 20px;
  display: none;
  // width: 276px;
  max-width: calc(100vw - 40px);
  background: #fff;
  border-radius: 8px;
  padding: 12px;
  transition: right 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.wrapper.show {
  // left: 20px;
  display: block;
}
.wrapper header {
  display: flex;
  align-items: center;
  // column-gap: 15px;

  h2 {
    color: var(--primary);
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0;
  }
}
header i {
  color: #029B8C;
  font-size: 32px;
}

.wrapper .data {
  margin-top: 5px;

  p {
    color: #333;
    font-size: .8rem;
    margin-bottom: 5px;
  }
}

.data p a {
  color: var(--primary);
  text-decoration: none;
  font-size: 12px;
}
.data p a:hover {
  text-decoration: underline;
}
.wrapper .buttons {
  margin-top: 5px;
  // width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
}
.buttons .button {
  // border: none;
  // color: #fff;
  padding: 2px 0;
  margin: 0 7px 7px 0;
  // border-radius: 4px;
  // background: #029B8C;
  // cursor: pointer;
  display: inline;
  width: 100px;
  transition: all 0.2s ease;
}
// .buttons #acceptBtn:hover {
//   background-color: #034bf1;
// }
// #declineBtn {
//   border: 2px solid #029B8C;
//   background-color: #fff;
//   color: #029B8C;
// }
// #declineBtn:hover {
//   background-color: #029B8C;
//   color: #fff;
// }