.wrapper {
  position: fixed;
  bottom: 10px;
  left: -350px;
  max-width: 340px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 15px 25px 22px;
  transition: right 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.wrapper.show {
  left: 20px;
}
.wrapper header {
  display: flex;
  align-items: center;
  // column-gap: 15px;

  h2 {
    color: #029B8C;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}
header i {
  color: #029B8C;
  font-size: 32px;
}

.wrapper .data {
  margin-top: 16px;
}
.wrapper .data p {
  color: #333;
  font-size: 16px;
}
.data p a {
  color: #029B8C;
  text-decoration: none;
}
.data p a:hover {
  text-decoration: underline;
}
.wrapper .buttons {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons .button {
  border: none;
  color: #fff;
  padding: 8px 0;
  border-radius: 4px;
  background: #029B8C;
  cursor: pointer;
  width: calc(100% / 2 - 10px);
  transition: all 0.2s ease;
}
.buttons #acceptBtn:hover {
  background-color: #034bf1;
}
#declineBtn {
  border: 2px solid #029B8C;
  background-color: #fff;
  color: #029B8C;
}
#declineBtn:hover {
  background-color: #029B8C;
  color: #fff;
}