---
title: Mspase | Начало
layout: 'base.njk'
pagination:
    data: collections.publishedPosts
    size: 6
    reverse: true
    alias: posts
permalink: "{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---
<!-- Section Main-Container-->
<section>
    <!-- Title  -->
    <hgroup class="hero-title">
        <h2 class="text-uppercase">Последни Новини и Публикации</h2>
        <h3>интересни новини и истории от България и света, свободни мнения, лайфстайл, сериали, филми, субтитри, технологии,
            наука, програмиране</h3>
    </hgroup>
    <!-- End of Title  -->

    <!-- Block 2 column  -->
    <div class="grid">
            <!-- Column Blog Posts -->
            <div>
                {%- for post in posts -%}
                        {% include 'blog-card.njk' %}
                {%- endfor -%}

                {# Pagination #}
                {% include 'pagination.njk' %}
                {# Pagination end #}
            </div>
            <!-- End of Column Blog Posts -->

            <!-- Column Side Bar -->
            <div class="side-bar">
                {% include 'sidebar-categories.njk' %}
            </div>
            <!-- End Column Side Bar -->
    <!-- Block 2 column  -->
</section>
<!-- End of Section -->
