---
title: Mspase | Pico
layout: 'pico.njk'
---

<header>
    <nav>
        <ul>
            <a href="/">
                <li><strong>Mspase</strong></li>
            </a>
        </ul>
        <ul>
            <li><a href="/about">За Мен</a></li>
            <li><a href="/contact">Контакт</a></li>
            <li>
                <!-- Rounded switch -->
                <label class="switch">
                    <input onclick="myFunction()" class="input" type="checkbox">
                    <span class="slider round"></span>
                </label>
            </li>
        </ul>
    </nav>
</header>

<hgroup>
    <h2 class="text-uppercase">Последни Новини и Публикации</h2>
    <h3>интересни новини и истории от България и света, свободни мнения, лайфстайл, сериали, филми, субтитри, технологии,
                    наука, програмиране</h3>
</hgroup>
<div class="grid">
  <div>
  {%- for post in collections.publishedPosts -%}
  <article>
    <div class="image">
      <header>
        <h2 class="h3">
            <a href="{{ post.url }}">{{ post.data.title }}</a>
        </h2>
      </header>
          <a href="{{ post.url }}"><img class="img-fluid" src="{{ post.data.image }}" alt="{{ post.data.alt }}">
          </a>
          <div class="blog-cat">
              {% for category in post.data.tags %}
                  <a class="badge badge-secondary"  href="/category/{{category | slugify }}">{{ category }}</a>
              {% endfor %}
          </div>
      </div>
      <div class="text">
          <div class="empty_space_20"></div>
          
          <div class="date">
              <span class="date-icon"></span>
              <span>{{ post.data.date | postDate }}</span>
          </div>
      </div>
      <footer>
        <div class="simple-text sm text-justify">
            <p>{{ post.data.description }}</p>
        </div>
        <a href="{{ post.url }}" role="button">Продължи да четеш</a>
      </footer>
  </article>
  {%- endfor -%}
</div>

  <div>2</div>
</div>


